@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Oswald:600,700');
figure.snip0078 {
    font-family: 'Oswald', Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 350px;
    max-height: 310px;
    width: 100%;
    text-align: center;
}

figure.snip0078 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

figure.snip0078 img {
    opacity: 1;
    max-width: 100%;
    border: 10px solid #000000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.snip0078 figcaption {
    bottom: 0;
    width: 60%;
    right: 0;
    position: absolute;
    background: #000000;
    padding: 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    box-shadow: 0 0px 10px -10px #000000;
}

figure.snip0078 figcaption h2,
figure.snip0078 figcaption p {
    margin: 0;
    color: #ffffff;
}

figure.snip0078 figcaption h2 {
    font-weight: 400;
    text-transform: uppercase;
}

figure.snip0078 figcaption h2 span {
    font-weight: 800;
}

figure.snip0078 figcaption p {
    font-size: 0.9em;
    font-weight: 500;
    opacity: 0.65;
}

figure.snip0078 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip0078.blue figcaption {
    background: #315e95;
}

figure.snip0078.blue img {
    border: 10px solid #315e95;
}

figure.snip0078.red figcaption {
    background: #81261d;
}

figure.snip0078.red img {
    border: 10px solid #81261d;
}

figure.snip0078.yellow figcaption {
    background: #a85913;
}

figure.snip0078.yellow img {
    border: 10px solid #a85913;
}

figure.snip0078:hover figcaption,
figure.snip0078.hover figcaption {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0 15px 15px -15px #000000;
}

figure.snip0078:hover.blue img,
figure.snip0078.hover.blue img {
    border: 10px solid #2980b9;
}

figure.snip0078:hover.red img,
figure.snip0078.hover.red img {
    border: 10px solid #c0392b;
}

figure.snip0078:hover.yellow img,
figure.snip0078.hover.yellow img {
    border: 10px solid #e67e22;
}


.snip1374 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 240px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.snip1374 img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.snip1374:hover img,
.snip1374.hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.info-text{
  top: 50%;
}
.info-text p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 16% 4%;
    vertical-align: middle;
}
.info-text .right {
  float: right;
}
.col-xs-12 {
    font-family: 'Roboto Condensed', sans-serif;
}

.container-full-bg {
    height: 300px;
  background-image: url(https://raw.githubusercontent.com/sandro-tyron/post_offices/master/header.png); 
  background-size: cover;
  background-position: center center;
  font-family: "sans-serif";
  font-size: 24px;
  width: 100%;
  z-index: 1;
}
#footer {
  height: 300px;
  background-image: url(https://github.com/sandro-tyron/post_offices/blob/master/back4.png?raw=true ); 
  background-size: cover;
  background-position: center center;
  font-family: "sans-serif";
  font-size: 24px;
  width: 130%;
  z-index: 1;
}

.cafedra {
  width: 100px;
  margin-left: 40px;
  margin-top: 150px;
}
.about {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    margin-left: 40px;
  margin-top: 100px;
}

